@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}

.background {
    height: 100vh;
    width: 100%;

    background-image: url(./images/mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.container h1 {
    font-size: 3rem;
}

.settings {
    position: absolute;
    bottom: 20px;
    right: 30px;

    display: flex;
    gap: 1rem;
    align-items: center;
}

.settings .fa-cog {
    font-size: 3rem;
    color: white;
}

.setting-content {
    display: flex;
    gap: 1rem;
}

.setting-content input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.setting-content button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: green;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
}

.hide {
    display: none;
}

.center {
    text-align: center;
}

.time-container {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.time-container h2 {
    line-height: 60px;
    text-align: center;
    font-size: 2rem;
}

.time-container div {
    font-size: 4rem;
    color: white;
}